body {
  background: #f8f9f9;
  font-size: 100%;
  font-family: "Red Hat Display", sans-serif;
}

.app {
  display: block;
  background: linear-gradient(
    0.2deg,
    rgb(51, 204, 255) 6.8%,
    rgb(51, 102, 255) 71.5%
  );
  font-size: 100%;
  max-width: 640px;
  margin: 10px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 18px;
  padding: 20px 30px;
}
header {
  margin-top: 10px;
}
.search-form-input {
  background: #f8f9f9;
  font-size: 1em;
  border-radius: 1em;
  outline-width: 0;
}

.search-button {
  background: #1c363f;
  padding: 0.9em 1.25em;
  border: none;
  font-size: 1em;
  border-radius: 0.75em;
  color: white;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 0.5em;
  color: #f8f9f9;
  font-weight: 800;
  line-height: 1.5em;
}
.date-details {
  margin: 0;
  font-size: 1em;
  color: #f8f9f9;
  font-weight: 600;
}

#icon {
  width: 8em;
  height: 8em;
}

.current-temp {
  font-size: 5em;
  line-height: 1.5em;
  color: #f8f9f9;
}

.units {
  color: #f8f9f9;
}
.units a {
  color: #f8f9f9;
  text-decoration: none;
  margin: 0 3px;
}

#description,
#actual-feel,
#humidity,
#wind-speed,
#pressure {
  color: #f8f9f9;
  font-weight: bold;
}

.current-2 span {
  margin: 0 5px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 20px;
}

.weather-forecast-date {
  text-align: center;
  color: #f8f9f9;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 7em;
  height: 7em;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f8f9f9;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  font-family: monospace;
  color: #1c363f;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .weather-forecast {
    display: block;
  }
  .weather-forecast-date {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  .weather-forecast-day {
    margin-bottom: 20px;
  }
  .weather-forecast-icon {
    width: 7em;
    height: 7em;
  }
  .weather-forecast-temperatures {
    margin-top: 0;
  }
}
